.gradle/
.gradle-user/
.android-user/
.idea/
*.iml
local.properties
secure.signing.gradle
*.jks
*.keystore
**/build/
.DS_Store
reference-apks/*.apk
reference-apks/oneOS_Launcher3/
artifacts/*.apk
qa/**/*.png
qa/**/*.txt
reference-apks/framework/
